USE [komis]
GO
/****** Object:  Table [dbo].[klient]    Script Date: 2023-02-13 19:23:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[klient](
	[idKlienta] [int] IDENTITY(1,1) NOT NULL,
	[imie] [nvarchar](50) NOT NULL,
	[nazwisko] [nvarchar](50) NOT NULL,
	[nr_karty] [bigint] NULL,
	[firma] [nvarchar](100) NULL,
	[ulica] [nvarchar](100) NULL,
	[numer] [int] NULL,
	[miasto] [nvarchar](100) NULL,
	[kodPocztowy] [nvarchar](6) NULL,
	[nip] [bigint] NULL,
	[telefon] [int] NULL,
	[staly_klient] [nvarchar](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[idKlienta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[klient] ON 

INSERT [dbo].[klient] ([idKlienta], [imie], [nazwisko], [nr_karty], [firma], [ulica], [numer], [miasto], [kodPocztowy], [nip], [telefon], [staly_klient]) VALUES (1, N'Patryk', N'Niedzielski', 4424701976938053, N'POLDEX', N'Popławska', 22, N'Płock', N'65-711', 3817910684, 770814504, N'TAK')
INSERT [dbo].[klient] ([idKlienta], [imie], [nazwisko], [nr_karty], [firma], [ulica], [numer], [miasto], [kodPocztowy], [nip], [telefon], [staly_klient]) VALUES (2, N'Piotr', N'Węgorz', 4424707729754960, N'WĘGORZ SP Z.O.O', N'Helska ', 136, N'Hel', N'51-411', 5320194511, 587677221, N'NIE')
INSERT [dbo].[klient] ([idKlienta], [imie], [nazwisko], [nr_karty], [firma], [ulica], [numer], [miasto], [kodPocztowy], [nip], [telefon], [staly_klient]) VALUES (3, N'Celina', N'Cebula', 4424708035769155, N'CEBULA SP Z.O.O', N'Norweska ', 111, N'Wrocław', N'69-777', 9718945777, 782465581, N'NIE')
SET IDENTITY_INSERT [dbo].[klient] OFF
GO
/****** Object:  Index [uniq_tel]    Script Date: 2023-02-13 19:23:28 ******/
ALTER TABLE [dbo].[klient] ADD  CONSTRAINT [uniq_tel] UNIQUE NONCLUSTERED 
(
	[telefon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_tel]    Script Date: 2023-02-13 19:23:28 ******/
CREATE NONCLUSTERED INDEX [idx_tel] ON [dbo].[klient]
(
	[telefon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [non_idx_imie]    Script Date: 2023-02-13 19:23:28 ******/
CREATE NONCLUSTERED INDEX [non_idx_imie] ON [dbo].[klient]
(
	[imie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [non_idx_nazwisko]    Script Date: 2023-02-13 19:23:28 ******/
CREATE NONCLUSTERED INDEX [non_idx_nazwisko] ON [dbo].[klient]
(
	[nazwisko] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[klient] ADD  DEFAULT ('NIE') FOR [staly_klient]
GO
